#s1-slider-wrap {
    width: 100%; /* required */
    height: 240px; /* required, can be changed */
    overflow: hidden; /* required, can be changed */
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
#s1-slider-wrap #slider {
    position: absolute; /* required */
    top: 70px; /* required, can be changed */
    left: 0; /* required */
    width: max-content; /* required */
    display: flex; /* required, can be changed */
    flex-wrap: wrap;
    transition: left .5s;
}
#s1-slider-wrap #slider .slider-item {
    height: 120px; /* required, can be changed */
    width: 200px; /* required, can be changed */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    background-color: #000;
    color: #fff;
    padding: 0 20px;
    margin-bottom: 0;
    font-size: 14px;
    border-radius: 5px;
}

/* any of below can be changed */
.container {
    width: 85%;
    margin: 0 auto;
    align-items: center;
    max-width: 1440px;
}
#slider-nav {
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    width: 100%;
}
#slider-arrows {
    display: inline-flex;
    padding-right: 5px;
}
#slider-arrows .slider-arrows-prew, 
#slider-arrows .slider-arrows-next {
    position: relative;
    border: 1px solid #000;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform .5s;
}
#slider-arrows .slider-arrows-prew:hover, 
#slider-arrows .slider-arrows-next:hover { 
    transform: scale(1.07);
}
#slider-arrows .slider-arrows-next::before, 
#slider-arrows .slider-arrows-next::after, 
#slider-arrows .slider-arrows-prew::before, 
#slider-arrows .slider-arrows-prew::after {
    content: "";
    display: block;
    right: 12px;
    position: absolute;
    top: 46%;
    transition: right .3s;
}
#slider-arrows .slider-arrows-prew:before,
#slider-arrows .slider-arrows-next:before {
    border-color: #000000;
    border-style: solid;
    border-width: 0 0 3px 3px;
    height: 10px;
    margin-top: -5px;
    width: 10px;
    transform: rotate( 225deg );
}
#slider-arrows .slider-arrows-prew::before {
    transform: rotate(45deg);
}
#slider-arrows .slider-arrows-prew::after, 
#slider-arrows .slider-arrows-next::after {
    background-color: #000;
    height: 3px;
    width: 15px;
}